<header class="signature">
	<button class="carousel-control carousel-prev">
		<i class="fa fa-chevron-up fa-3x"></i>
	</button>
	<h1><%= title %></h1>
	<button class="carousel-control carousel-next">
		<i class="fa fa-chevron-down fa-3x"></i>
	</button>
</header>
<article class="quadrupel">
	<% _.each(images, (img) => { %>
		<img src="<%= img + '?bust=' + new Date().getTime() %>"/>
	<% }); %>
</ul>
